{% extends 'AppCoder/padre.html' %}

{% block titulo %}
Formulario - Agregar club
{% endblock %}

{% block contenido %}

<section class="features-icons bg-light">
    <div class="container">
        </div class="row">
            </div class="col-lg-12"> 

                {% if club_formulario.errors %} 
                <p style="color:red;">Los datos son incorrectos. </p>    
                {% endif %}
                   
                <form action="{% url 'club-formulario' %}" method="POST">
                    {% csrf_token %}
                    <!-- <p>Nombre del club: <input type='text' name="club"></p> 
                    <p>Año de fundacion: <input type='number' name="agno"></p> 
                    -->
                    <table>
                        {{ club_formulario.as_table }}
                    </table>
                    
                    <input type="submit" value="Agregar"> 

                </form>
            </div>     
        </div>    
    </div> 
</section>

{% endblock %}
